#NavBar{
   padding:10px;
 
   
   .home{
            background-color: rgb(26, 108, 177);;
         
   }
   .penta-icon{
      width:164px;
   }
   
   
   .name {
      max-width: 361px;
      margin-top: 0px;
      padding-top: 0px;

   }
  
   .dropdown-toggle::after{
      content:none
   }
   .dropdown-toggle.nav-link{
        // color: black;
         font-size: 17px;
         font-weight: 500;
      &:hover{
         color:rgb(26, 108, 177);
         background-color: skyblue;
      }
   }
   .btn{
      background-color:skyblue;
      color:white;
      border-radius: 20px;
      padding:10px;
      padding-left:40px;
      padding-right:40px;
      margin-right:60px;
      
   }
      
 
}



